<!--包含头部文件-->
{include file="public/head"}


     <!--支付第二步-->
    <div class="firstly">
        <div class="search">
            <img src="__STATIC__/index/image/logo.png" />
            <div class="w-order-nav-new">
                <ul class="nav-wrap">
                    <li>
                        <div class="no"><span>1</span></div>
                        <span class="text">确认订单</span>
                    </li>
                    <li class="to-line "></li>
                    <li>
                        <div class="no"><span>2</span></div>
                        <span class="text">选择支付方式</span>
                    </li>
                    <li class="to-line "></li>
                    <li class="current">
                        <div class="no"><span>3</span></div>
                        <span class="text">购买成功</span>
                    </li>
                </ul>
            </div>
        </div>

        <div style="color:red;width: 980px;height: 300px;margin: 0 auto;text-align: center;line-height: 300px;font-size: 36px;">恭喜，购买成功！</div>
        

    </div>

    

    <div class="footer">
        <ul class="first">
           
        </ul>
        <ul class="second">
            
        </ul>
    </div>

    <script>
        
        
        
    </script>
</body>
</html>