<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>注册</title>
    <link rel="stylesheet" href="__STATIC__/index/css/base.css" />
    <link rel="stylesheet" href="__STATIC__/index/css/register.css" />
    <script type="text/javascript" src="__STATIC__/index/js/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/respond.min.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/dialog/dialog.js"></script>
    <script type="text/javascript" src="__STATIC__/dialog/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <ul>  
                <li><a href="/"><img src="__STATIC__/index/image/logo.png" alt="logo"></a></li>
                <li class="divider"></li>
                <li><a href="/"></a></li>
            </ul>
            <div class="login-link">
                <span>我已注册，现在就</span>
                <a href="login.html">登录</a>
            </div>
        </div>

        <div class="content">
            <form id="yfycms-form">
                <div class="pass-form-item">
                    <label class="pass-label">用户名</label>
                    <input type="text" name="username" class="pass-text-input" placeholder="请设置用户名">
                </div>
                <div class="pass-form-item">
                    <label class="pass-label">邮箱号</label>
                    <input type="text" name="email" class="pass-text-input" placeholder="可用于接受团购券账号和密码便于消费">
                </div>

                <div class="pass-form-item">
                    <label class="pass-label">密码</label>
                    <input type="text" name="password" class="pass-text-input" placeholder="请设置登录密码">
                </div>
                <div class="pass-form-item">
                    <label class="pass-label">确认密码</label>
                    <input type="text" name="repassword" class="pass-text-input" placeholder="请设置登录密码">
                </div>
                <div class="pass-form-item">
                    <label class="pass-label">验证码</label>
                    <input type="text" name="verifycode" class="pass-text-input " placeholder="请输入验证码">
                {:captcha_img()}
                </div>

                <div class="pass-form-item">
                    <button type="button" id="o2o-yfycms-submit" class="pass-button">注册</button>
                </div>
            </form>
           
        </div>

        <div class="foot">
            <div>
                <div>2016&nbsp;©Baidu</div>
            </div>
        </div>
    </div>
<script>
    $('#o2o-yfycms-submit').click(function(){
        var data = $("#yfycms-form").serializeArray();
        postData = {};
        console.log(data);
        $(data).each(function(i){
            postData[this.name] = this.value;
        });
        console.log(postData);
        var  url = SCOPE.save_url;
        var jump_url = SCOPE.jump_url;
        $.post(url,postData,function(result){
            if(result.status == 1){
                return dialog.success(result.message,jump_url);
            }else if(result.status == 0){
                return dialog.error(result.message);
            }
        },"JSON");
    });
   var SCOPE = {
        'save_url':'{:url("index/user/register")}',
        'jump_url':'{:url("index/user/login")}'
    };
</script>
</body>
</html>